<div class="item-deal3">
  <div class="item-product3">
    <div class="product-info">
      <span class="sale-off">35% OFF</span>
      <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
      <div class="product-price">
        <del><span>$70.00</span></del>
        <ins><span>$40.00</span></ins>
      </div>
    </div>
    <div class="product-thumb">
      <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p1.png'| asset_url}}">
        </a>
      <a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">quick view</a>
    </div>
  </div>
  <div class="item-product3">
    <div class="product-info">
      <span class="sale-off">35% OFF</span>
      <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
      <div class="product-price">
        <del><span>$70.00</span></del>
        <ins><span>$40.00</span></ins>
      </div>
    </div>
    <div class="product-thumb">
      <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p2.png'| asset_url}}">
        </a>
      <a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">quick view</a>
    </div>
  </div>
</div>
<!-- End Item -->
<div class="item-deal3">
  <div class="item-product3">
    <div class="product-info">
      <span class="sale-off">35% OFF</span>
      <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
      <div class="product-price">
        <del><span>$70.00</span></del>
        <ins><span>$40.00</span></ins>
      </div>
    </div>
    <div class="product-thumb">
      <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p3.png'| asset_url}}">
        </a>
      <a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">quick view</a>
    </div>
  </div>
  <div class="item-product3">
    <div class="product-info">
      <span class="sale-off">35% OFF</span>
      <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
      <div class="product-price">
        <del><span>$70.00</span></del>
        <ins><span>$40.00</span></ins>
      </div>
    </div>
    <div class="product-thumb">
      <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p8.png'| asset_url}}">
        </a>
      <a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">quick view</a>
    </div>
  </div>
</div>
<!-- End Item -->
<div class="item-deal3">
  <div class="item-product3">
    <div class="product-info">
      <span class="sale-off">35% OFF</span>
      <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
      <div class="product-price">
        <del><span>$70.00</span></del>
        <ins><span>$40.00</span></ins>
      </div>
    </div>
    <div class="product-thumb">
      <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p4.png'| asset_url}}">
        </a>
      <a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">quick view</a>
    </div>
  </div>
  <div class="item-product3">
    <div class="product-info">
      <span class="sale-off">35% OFF</span>
      <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
      <div class="product-price">
        <del><span>$70.00</span></del>
        <ins><span>$40.00</span></ins>
      </div>
    </div>
    <div class="product-thumb">
      <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p5.png'| asset_url}}">
        </a>
      <a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">quick view</a>
    </div>
  </div>
</div>
<!-- End Item -->
<div class="item-deal3">
  <div class="item-product3">
    <div class="product-info">
      <span class="sale-off">35% OFF</span>
      <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
      <div class="product-price">
        <del><span>$70.00</span></del>
        <ins><span>$40.00</span></ins>
      </div>
    </div>
    <div class="product-thumb">
      <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p6.png'| asset_url}}">
        </a>
      <a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">quick view</a>
    </div>
  </div>
  <div class="item-product3">
    <div class="product-info">
      <span class="sale-off">35% OFF</span>
      <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
      <div class="product-price">
        <del><span>$70.00</span></del>
        <ins><span>$40.00</span></ins>
      </div>
    </div>
    <div class="product-thumb">
      <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p7.png'| asset_url}}">
        </a>
      <a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">quick view</a>
    </div>
  </div>
</div>