<div class="item-product3">
  <div class="product-thumb">
    <a href="/admin/products/new" class="product-thumb-link">
      <img src="{{'p1.png'| asset_url}}" alt="">
    </a>
    <a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
  </div>
  <div class="product-info">
    <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
    <div class="product-price">
      <del><span>$135.00</span></del>
      <ins><span>$123.00</span></ins>
    </div>
    <div class="product-extra-link3">
      <a href="#" class="addcart-link">Add to Cart</a>
      <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
      
    </div>
  </div>
</div>
<div class="item-product3">
  <div class="product-thumb">
    <a href="/admin/products/new" class="product-thumb-link">
      <img src="{{'p2.png'| asset_url}}" alt="">
    </a>
    <a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
  </div>
  <div class="product-info">
    <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
    <div class="product-price">
      <del><span>$135.00</span></del>
      <ins><span>$123.00</span></ins>
    </div>
    <div class="product-extra-link3">
      <a href="#" class="addcart-link">Add to Cart</a>
      <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
      
    </div>
  </div>
</div>
<div class="item-product3">
  <div class="product-thumb">
    <a href="/admin/products/new" class="product-thumb-link">
      <img src="{{'p3.png'| asset_url}}" alt="">
    </a>
    <a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
  </div>
  <div class="product-info">
    <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
    <div class="product-price">
      <del><span>$135.00</span></del>
      <ins><span>$123.00</span></ins>
    </div>
    <div class="product-extra-link3">
      <a href="#" class="addcart-link">Add to Cart</a>
      <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
      
    </div>
  </div>
</div>
<div class="item-product3">
  <div class="product-thumb">
    <a href="/admin/products/new" class="product-thumb-link">
      <img src="{{'p4.png'| asset_url}}" alt="">
    </a>
    <a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
  </div>
  <div class="product-info">
    <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
    <div class="product-price">
      <del><span>$135.00</span></del>
      <ins><span>$123.00</span></ins>
    </div>
    <div class="product-extra-link3">
      <a href="#" class="addcart-link">Add to Cart</a>
      <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
      
    </div>
  </div>
</div>
<div class="item-product3">
  <div class="product-thumb">
    <a href="/admin/products/new" class="product-thumb-link">
      <img src="{{'p5.png'| asset_url}}" alt="">
    </a>
    <a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
  </div>
  <div class="product-info">
    <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
    <div class="product-price">
      <del><span>$135.00</span></del>
      <ins><span>$123.00</span></ins>
    </div>
    <div class="product-extra-link3">
      <a href="#" class="addcart-link">Add to Cart</a>
      <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
      
    </div>
  </div>
</div>
<div class="item-product3">
  <div class="product-thumb">
    <a href="/admin/products/new" class="product-thumb-link">
      <img src="{{'p6.png'| asset_url}}" alt="">
    </a>
    <a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>quick view</span></a>
  </div>
  <div class="product-info">
    <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
    <div class="product-price">
      <del><span>$135.00</span></del>
      <ins><span>$123.00</span></ins>
    </div>
    <div class="product-extra-link3">
      <a href="#" class="addcart-link">Add to Cart</a>
      <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
      
    </div>
  </div>
</div>