<div class="item-hot-cat">
  <div class="hot-cat-info">
    <h3 class="product-title"><a href="/admin/products/new">Sunglasses Men’s</a></h3>
    <p class="price-from">from:<span>$39.00</span></p>							
  </div>
  <div class="hot-cat-thumb"><img src="{{'p1.png'| asset_url}}" alt=""><a href="/admin/products/new" class="shopnow"><span>shop now</span></a></div>
</div>
<div class="item-hot-cat">
  <div class="hot-cat-info">
    <h3 class="product-title"><a href="/admin/products/new">Sunglasses Men’s</a></h3>
    <p class="price-from">from:<span>$39.00</span></p>							
  </div>
  <div class="hot-cat-thumb"><img src="{{'p2.png'| asset_url}}" alt=""><a href="/admin/products/new" class="shopnow"><span>shop now</span></a></div>
</div>
<div class="item-hot-cat">
  <div class="hot-cat-info">
    <h3 class="product-title"><a href="/admin/products/new">Sunglasses Men’s</a></h3>
    <p class="price-from">from:<span>$39.00</span></p>							
  </div>
  <div class="hot-cat-thumb"><img src="{{'p3.png'| asset_url}}" alt=""><a href="/admin/products/new" class="shopnow"><span>shop now</span></a></div>
</div>
<div class="item-hot-cat">
  <div class="hot-cat-info">
    <h3 class="product-title"><a href="/admin/products/new">Sunglasses Men’s</a></h3>
    <p class="price-from">from:<span>$39.00</span></p>							
  </div>
  <div class="hot-cat-thumb"><img src="{{'p4.png'| asset_url}}" alt=""><a href="/admin/products/new" class="shopnow"><span>shop now</span></a></div>
</div><div class="item-hot-cat">
  <div class="hot-cat-info">
    <h3 class="product-title"><a href="/admin/products/new">Sunglasses Men’s</a></h3>
    <p class="price-from">from:<span>$39.00</span></p>							
  </div>
  <div class="hot-cat-thumb"><img src="{{'p5.png'| asset_url}}" alt=""><a href="/admin/products/new" class="shopnow"><span>shop now</span></a></div>
</div>
<div class="item-hot-cat">
  <div class="hot-cat-info">
    <h3 class="product-title"><a href="/admin/products/new">Sunglasses Men’s</a></h3>
    <p class="price-from">from:<span>$39.00</span></p>							
  </div>
  <div class="hot-cat-thumb"><img src="{{'p6.png'| asset_url}}" alt=""><a href="/admin/products/new" class="shopnow"><span>shop now</span></a></div>
</div>
<div class="item-hot-cat">
  <div class="hot-cat-info">
    <h3 class="product-title"><a href="/admin/products/new">Sunglasses Men’s</a></h3>
    <p class="price-from">from:<span>$39.00</span></p>							
  </div>
  <div class="hot-cat-thumb"><img src="{{'p7.png'| asset_url}}" alt=""><a href="/admin/products/new" class="shopnow"><span>shop now</span></a></div>
</div>
<div class="item-hot-cat">
  <div class="hot-cat-info">
    <h3 class="product-title"><a href="/admin/products/new">Sunglasses Men’s</a></h3>
    <p class="price-from">from:<span>$39.00</span></p>							
  </div>
  <div class="hot-cat-thumb"><img src="{{'p8.png'| asset_url}}" alt=""><a href="/admin/products/new" class="shopnow"><span>shop now</span></a></div>
</div><div class="item-hot-cat">
  <div class="hot-cat-info">
    <h3 class="product-title"><a href="/admin/products/new">Sunglasses Men’s</a></h3>
    <p class="price-from">from:<span>$39.00</span></p>							
  </div>
  <div class="hot-cat-thumb"><img src="{{'p1.png'| asset_url}}" alt=""><a href="/admin/products/new" class="shopnow"><span>shop now</span></a></div>
</div><div class="item-hot-cat">
  <div class="hot-cat-info">
    <h3 class="product-title"><a href="/admin/products/new">Sunglasses Men’s</a></h3>
    <p class="price-from">from:<span>$39.00</span></p>							
  </div>
  <div class="hot-cat-thumb"><img src="{{'p2.png'| asset_url}}" alt=""><a href="/admin/products/new" class="shopnow"><span>shop now</span></a></div>
</div>