<div class="item-trending2">
  <div class="item-product">
    <div class="product-thumb">
      <a class="product-thumb-link" href="detail.html">
        <img alt="" src="{{'p5.png'| asset_url}}">
      </a>
      <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
      <div class="product-extra-link">
      <a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
      <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
    </div>
    </div>
    <div class="product-info">
      <h3 class="product-title"><a href="/admin/products/new">new favorite</a></h3>
      <div class="product-price">
        <del><span>$400.00</span></del>
        <ins><span>$120.00</span></ins>
      </div>
    </div>
  </div>
  <div class="item-product">
    <div class="product-thumb">
      <a class="product-thumb-link" href="detail.html">
        <img alt="" src="{{'p6.png'| asset_url}}">
      </a>
      <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
      <div class="product-extra-link">
      <a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
      <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
    </div>
    </div>
    <div class="product-info">
      <h3 class="product-title"><a href="/admin/products/new">new favorite</a></h3>
      <div class="product-price">
        <del><span>$400.00</span></del>
        <ins><span>$120.00</span></ins>
      </div>
    </div>
  </div>
</div>
<div class="item-trending2">
  <div class="item-product">
    <div class="product-thumb">
      <a class="product-thumb-link" href="detail.html">
        <img alt="" src="{{'p1.png'| asset_url}}">
      </a>
      <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
      <div class="product-extra-link">
      <a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
      <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
    </div>
    </div>
    <div class="product-info">
      <h3 class="product-title"><a href="/admin/products/new">new favorite</a></h3>
      <div class="product-price">
        <del><span>$400.00</span></del>
        <ins><span>$120.00</span></ins>
      </div>
    </div>
  </div>
  <div class="item-product">
    <div class="product-thumb">
      <a class="product-thumb-link" href="detail.html">
        <img alt="" src="{{'p2.png'| asset_url}}">
      </a>
      <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
      <div class="product-extra-link">
      <a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
      <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
    </div>
    </div>
    <div class="product-info">
      <h3 class="product-title"><a href="/admin/products/new">new favorite</a></h3>
      <div class="product-price">
        <del><span>$400.00</span></del>
        <ins><span>$120.00</span></ins>
      </div>
    </div>
  </div>
</div>
<div class="item-trending2">
  <div class="item-product">
    <div class="product-thumb">
      <a class="product-thumb-link" href="detail.html">
        <img alt="" src="{{'p3.png'| asset_url}}">
      </a>
      <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
      <div class="product-extra-link">
      <a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
      <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
    </div>
    </div>
    <div class="product-info">
      <h3 class="product-title"><a href="/admin/products/new">new favorite</a></h3>
      <div class="product-price">
        <del><span>$400.00</span></del>
        <ins><span>$120.00</span></ins>
      </div>
    </div>
  </div>
  <div class="item-product">
    <div class="product-thumb">
      <a class="product-thumb-link" href="detail.html">
        <img alt="" src="{{'p4.png'| asset_url}}">
      </a>
      <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
      <div class="product-extra-link">
      <a href="#" class="addcart-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
      <a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
    </div>
    </div>
    <div class="product-info">
      <h3 class="product-title"><a href="/admin/products/new">new favorite</a></h3>
      <div class="product-price">
        <del><span>$400.00</span></del>
        <ins><span>$120.00</span></ins>
      </div>
    </div>
  </div>
</div>