<div class="item-newpro3">
											<div class="item-product item-product3">
												
												<div class="product-thumb">
													<a class="product-thumb-link" href="/admin/products/new">
														<img alt="" src="{{'p1.png'| asset_url}}">
													</a>
													<a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
													<div class="product-extra-link">
														<a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
														<a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
													
													</div>
												</div>
												<div class="product-info">
													<h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
													<div class="product-price">
														<ins><span>$123.00</span></ins>
													</div>
												</div>
											</div>
											<div class="item-product item-product3">
												
												<div class="product-thumb">
													<a class="product-thumb-link" href="/admin/products/new">
														<img alt="" src="{{'p2.png'| asset_url}}">
													</a>
													<a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
													<div class="product-extra-link">
														<a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
														<a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
													
													</div>
												</div>
												<div class="product-info">
													<h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
													<div class="product-price">
														<ins><span>$123.00</span></ins>
													</div>
												</div>
											</div>
										</div>
										<!-- End Item -->
										<div class="item-newpro3">
											<div class="item-product item-product3">
												
												<div class="product-thumb">
													<a class="product-thumb-link" href="/admin/products/new">
														<img alt="" src="{{'p3.png'| asset_url}}">
													</a>
													<a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
													<div class="product-extra-link">
														<a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
														<a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
													
													</div>
												</div>
												<div class="product-info">
													<h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
													<div class="product-price">
														<ins><span>$123.00</span></ins>
													</div>
												</div>
											</div>
											<div class="item-product item-product3">
												
												<div class="product-thumb">
													<a class="product-thumb-link" href="/admin/products/new">
														<img alt="" src="{{'p4.png'| asset_url}}">
													</a>
													<a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
													<div class="product-extra-link">
														<a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
														<a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
													
													</div>
												</div>
												<div class="product-info">
													<h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
													<div class="product-price">
														<ins><span>$123.00</span></ins>
													</div>
												</div>
											</div>
										</div>
										<!-- End Item -->
										<div class="item-newpro3">
											<div class="item-product item-product3">
												
												<div class="product-thumb">
													<a class="product-thumb-link" href="/admin/products/new">
														<img alt="" src="{{'p5.png'| asset_url}}">
													</a>
													<a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
													<div class="product-extra-link">
														<a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
														<a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
													
													</div>
												</div>
												<div class="product-info">
													<h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
													<div class="product-price">
														<ins><span>$123.00</span></ins>
													</div>
												</div>
											</div>
											<div class="item-product item-product3">
												
												<div class="product-thumb">
													<a class="product-thumb-link" href="/admin/products/new">
														<img alt="" src="{{'p6.png'| asset_url}}">
													</a>
													<a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
													<div class="product-extra-link">
														<a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
														<a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
													
													</div>
												</div>
												<div class="product-info">
													<h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
													<div class="product-price">
														<ins><span>$123.00</span></ins>
													</div>
												</div>
											</div>
										</div>
										<!-- End Item -->
										<div class="item-newpro3">
											<div class="item-product item-product3">
												
												<div class="product-thumb">
													<a class="product-thumb-link" href="/admin/products/new">
														<img alt="" src="{{'p7.png'| asset_url}}">
													</a>
													<a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
													<div class="product-extra-link">
														<a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
														<a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
													
													</div>
												</div>
												<div class="product-info">
													<h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
													<div class="product-price">
														<ins><span>$123.00</span></ins>
													</div>
												</div>
											</div>
											<div class="item-product item-product3">
												
												<div class="product-thumb">
													<a class="product-thumb-link" href="/admin/products/new">
														<img alt="" src="{{'p8.png'| asset_url}}">
													</a>
													<a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
													<div class="product-extra-link">
														<a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
														<a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
													
													</div>
												</div>
												<div class="product-info">
													<h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
													<div class="product-price">
														<ins><span>$123.00</span></ins>
													</div>
												</div>
											</div>
										</div>
										<!-- End Item -->