{%if section.settings.style_product ==  'style_1' %}
<div id="{{collections[block.settings.product_collection].handle}}{{ section.id }}" class="clearfix tab-pane active">
  <div class="large-box">
    <div class="large-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p1.png'| asset_url}}">
        </a>
        <a class="quickview-link pos-bottom fancybox.iframe" href="quick-view.html"><span>quick view</span></a>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <del><span>$400.00</span></del>
          <ins><span>$360.00</span></ins>
        </div>
        <div class="product-rate">
          <div class="product-rating" style="width:90%"></div>
        </div>
        <div class="product-extra-link2">
          <a class="addcart-link" href="#">Add to Cart</a>
          <a class="wishlist-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>

        </div>
      </div>
    </div>
  </div>
  <!-- End Lage Box -->
  <div class="small-box">
    <div class="item-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p2.png'| asset_url}}">
        </a>
        <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
        <div class="product-extra-link">
          <a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
          <a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
        </div>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <label>From:</label>
          <ins><span>$360.00</span></ins>
        </div>
      </div>
    </div>
    <div class="item-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p3.png'| asset_url}}">
        </a>
        <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
        <div class="product-extra-link">
          <a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
          <a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
        </div>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <label>From:</label>
          <ins><span>$360.00</span></ins>
        </div>
      </div>
    </div>
  </div>
  <!-- End Small Box -->
  <div class="large-box">
    <div class="large-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p4.png'| asset_url}}">
        </a>
        <a class="quickview-link pos-bottom fancybox.iframe" href="quick-view.html"><span>quick view</span></a>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <del><span>$400.00</span></del>
          <ins><span>$360.00</span></ins>
        </div>
        <div class="product-rate">
          <div class="product-rating" style="width:90%"></div>
        </div>
        <div class="product-extra-link2">
          <a class="addcart-link" href="#">Add to Cart</a>
          <a class="wishlist-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>

        </div>
      </div>
    </div>
  </div>
  <!-- End Lage Box -->
  <div class="small-box">
    <div class="item-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p5.png'| asset_url}}">
        </a>
        <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
        <div class="product-extra-link">
          <a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
          <a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
        </div>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <label>From:</label>
          <ins><span>$360.00</span></ins>
        </div>
      </div>
    </div>
    <div class="item-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p6.png'| asset_url}}">
        </a>
        <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
        <div class="product-extra-link">
          <a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
          <a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
        </div>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <label>From:</label>
          <ins><span>$360.00</span></ins>
        </div>
      </div>
    </div>
  </div>
</div>

{%elsif section.settings.style_product ==  'style_2' %}
<div id="{{collections[block.settings.product_collection].handle}}{{ section.id }}" class="clearfix tab-pane active">
  <div class="large-box">
    <div class="large-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p1.png'| asset_url}}">
        </a>
        <a class="quickview-link pos-bottom fancybox.iframe" href="quick-view.html"><span>quick view</span></a>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <del><span>$400.00</span></del>
          <ins><span>$360.00</span></ins>
        </div>
        <div class="product-rate">
          <div class="product-rating" style="width:90%"></div>
        </div>
        <div class="product-extra-link2">
          <a class="addcart-link" href="#">Add to Cart</a>
          <a class="wishlist-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>

        </div>
      </div>
    </div>
  </div>
  <!-- End Lage Box -->
  <div class="small-box">
    <div class="item-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p2.png'| asset_url}}">
        </a>
        <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
        <div class="product-extra-link">
          <a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
          <a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
        </div>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <label>From:</label>
          <ins><span>$360.00</span></ins>
        </div>
      </div>
    </div>
    <div class="item-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p3.png'| asset_url}}">
        </a>
        <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
        <div class="product-extra-link">
          <a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
          <a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
        </div>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <label>From:</label>
          <ins><span>$360.00</span></ins>
        </div>
      </div>
    </div>
  </div>
  <!-- End Small Box -->
  <div class="small-box">
    <div class="item-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p4.png'| asset_url}}">
        </a>
        <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
        <div class="product-extra-link">
          <a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
          <a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
        </div>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <label>From:</label>
          <ins><span>$360.00</span></ins>
        </div>
      </div>
    </div>
    <div class="item-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p5.png'| asset_url}}">
        </a>
        <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
        <div class="product-extra-link">
          <a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
          <a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
        </div>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <label>From:</label>
          <ins><span>$360.00</span></ins>
        </div>
      </div>
    </div>
  </div>
  <!-- End Small Box -->
  <div class="large-box">
    <div class="large-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p6.png'| asset_url}}">
        </a>
        <a class="quickview-link pos-bottom fancybox.iframe" href="quick-view.html"><span>quick view</span></a>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <del><span>$400.00</span></del>
          <ins><span>$360.00</span></ins>
        </div>
        <div class="product-rate">
          <div class="product-rating" style="width:90%"></div>
        </div>
        <div class="product-extra-link2">
          <a class="addcart-link" href="#">Add to Cart</a>
          <a class="wishlist-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>

        </div>
      </div>
    </div>
  </div>
  <!-- End Lage Box -->
</div>

{%elsif section.settings.style_product ==  'style_3' %}
<div id="{{collections[block.settings.product_collection].handle}}{{ section.id }}" class="clearfix tab-pane active">
	<div class="small-box">
    <div class="item-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p2.png'| asset_url}}">
        </a>
        <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
        <div class="product-extra-link">
          <a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
          <a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
        </div>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <label>From:</label>
          <ins><span>$360.00</span></ins>
        </div>
      </div>
    </div>
    <div class="item-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p3.png'| asset_url}}">
        </a>
        <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
        <div class="product-extra-link">
          <a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
          <a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
        </div>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <label>From:</label>
          <ins><span>$360.00</span></ins>
        </div>
      </div>
    </div>
  </div>
	<!-- End Small Box -->
	<div class="large-box">
    <div class="large-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p3.png'| asset_url}}">
        </a>
        <a class="quickview-link pos-bottom fancybox.iframe" href="quick-view.html"><span>quick view</span></a>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <del><span>$400.00</span></del>
          <ins><span>$360.00</span></ins>
        </div>
        <div class="product-rate">
          <div class="product-rating" style="width:90%"></div>
        </div>
        <div class="product-extra-link2">
          <a class="addcart-link" href="#">Add to Cart</a>
          <a class="wishlist-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>

        </div>
      </div>
    </div>
  </div>
	<!-- End Lage Box -->
 <div class="large-box">
    <div class="large-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p5.png'| asset_url}}">
        </a>
        <a class="quickview-link pos-bottom fancybox.iframe" href="quick-view.html"><span>quick view</span></a>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <del><span>$400.00</span></del>
          <ins><span>$360.00</span></ins>
        </div>
        <div class="product-rate">
          <div class="product-rating" style="width:90%"></div>
        </div>
        <div class="product-extra-link2">
          <a class="addcart-link" href="#">Add to Cart</a>
          <a class="wishlist-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>

        </div>
      </div>
    </div>
  </div>
  <!-- End Lage Box -->
  <div class="small-box">
    <div class="item-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p5.png'| asset_url}}">
        </a>
        <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
        <div class="product-extra-link">
          <a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
          <a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
        </div>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <label>From:</label>
          <ins><span>$360.00</span></ins>
        </div>
      </div>
    </div>
    <div class="item-product">
      <div class="product-thumb">
        <a class="product-thumb-link" href="/admin/products/new">
          <img alt="" src="{{'p6.png'| asset_url}}">
        </a>
        <a class="quickview-link plus fancybox.iframe" href="quick-view.html">quick view</a>
        <div class="product-extra-link">
          <a class="addcart-link" href="#"><i aria-hidden="true" class="fa fa-shopping-basket"></i></a>
          <a class="compare-link" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
        </div>
      </div>
      <div class="product-info">
        <h3 class="product-title"><a href="/admin/products/new">EXAMPLE PRODUCT</a></h3>
        <div class="product-price">
          <label>From:</label>
          <ins><span>$360.00</span></ins>
        </div>
      </div>
    </div>
  </div>
<!-- End Small Box -->
</div>

{%endif%}
